In [1]:
import re
import time
import numpy as np
import pandas as pd
import requests
import sqlite3 
from sqlite3 import Error
from connect_and_create import connect_and_create_table
from progressbar import progressbar

### Creating SQLite Database

In [2]:
sql_create_emotions_table = """ CREATE TABLE IF NOT EXISTS emotions (
                                        id integer PRIMARY KEY,
                                        text text NOT NULL,
                                        emotion text NOT NULL
                                    ); """

In [3]:
 database = r"C:\Users\Melissa\Documents\DS_Bootcamp\Mod_Projects\00-Capstone\Emotion-Detection-on-Twitter-Posts\data\emotion.db"

In [4]:
connect_and_create_table(database,sql_create_emotions_table)

In [5]:
conn = sqlite3.connect(database)
c = conn.cursor()

## Importing TweetID with Emotion Labels

In [6]:
df = pd.read_csv('./data/tweetid.csv', index_col = 0 , header=0, names = ['id', 'emotion'])

In [7]:
df.head()

                   id emotion
0  144514632252530688   anger
1  147987957679263745    fear
2  143869765302226944     joy
3  148904944022470657     joy
4  145344771152543744    fear

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2488982 entries, 0 to 2488981
Data columns (total 2 columns):
id         int64
emotion    object
dtypes: int64(1), object(1)
memory usage: 57.0+ MB

In [9]:
df.emotion.value_counts()

joy             706182
sadness         616471
anger           574170
love            301759
fear            135154
thankfulness    131340
surprise         23906
Name: emotion, dtype: int64

## Importing Text Data & Merging with Emotion Labels

In [10]:
filelist = ['./data/anger.csv','./data/fear.csv','./data/joy.csv','./data/sadness.csv', './data/surprise.csv','./data/thankfulness.csv','./data/love.csv']
twitter_data = pd.concat([pd.read_csv(item, usecols=[0,1,2],index_col=0 ) for item in filelist], axis=0)

In [11]:
twitter_data.drop_duplicates(keep = 'first', inplace = True)
twitter_data.reset_index(inplace = True)
twitter_data.drop(columns = 'index', inplace = True)

In [12]:
twitter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1339794 entries, 0 to 1339793
Data columns (total 2 columns):
id      1339794 non-null int64
text    1339794 non-null object
dtypes: int64(1), object(1)
memory usage: 20.4+ MB

### Merging Twitter Text with Emotion Labels

In [13]:
data = pd.merge(twitter_data,
         df,
         on = 'id',
         how = 'inner',
        validate = 'one_to_one')

In [14]:
data.head()

,id,text,emotion
0,146975687788601344,Do not like this new twitter app #irritating,anger
1,148156821444636672,@timlovejoy what's going on with us blues at t...,anger
2,148543314604462080,People complain too much. #annoying,anger
3,134687650601893889,The awkward moment when someone calls you out ...,anger
4,144248292254031872,Chris Paul leaving the Hornets #disgusted,anger

In [15]:
data.shape

(1339794, 3)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1339794 entries, 0 to 1339793
Data columns (total 3 columns):
id         1339794 non-null int64
text       1339794 non-null object
emotion    1339794 non-null object
dtypes: int64(1), object(2)
memory usage: 40.9+ MB

In [17]:
data.emotion.value_counts()

joy             386601
sadness         330432
anger           291480
love            167715
thankfulness     78228
fear             72094
surprise         13244
Name: emotion, dtype: int64

## Loading Data to SQLite Table

In [18]:
data.to_sql("emotions", conn, if_exists="append" , index = False)
conn.commit()

In [19]:
pd.read_sql_query("select count(*) from emotions;", conn)

   count(*)
0   1339794

In [20]:
pd.read_sql_query("SELECT * FROM emotions;", conn)

,id,text,emotion
0,1865547808,"Be gentle with yourself for we all fall down, ...",love
1,1898216785,Weeding out negative thoughts allows inspirati...,love
2,1943079793,"There is a great divine plan to everything, ev...",love
3,7756449559,i was asked a question.: What am i more afraid...,love
4,14400628407,A #Libra doesn't play with #love,love
5,20173289465,If only everything could come with locally-gro...,joy
6,20472359733,truth is in your mouth ~ it's tasting a lot li...,love
7,21469384690,Just walked into a magic shop in a leafy subur...,anger
8,22984904344,Sex is not necessarily love:: its not always :...,love
9,24478514337,When you take things for granted the things yo...,thankfulness
10,25429223198,You should have seen Darwin's face when he got...,surprise
11,26150577717,Congratulations @justinbieber! My World 2.0 ha...,joy
12,27366147018,"Fall leaves, classical music, crisp breeze. #B...",joy
13,3949123422130176,Nothing makes you feel quite like a kid again ...,joy
14,14102380144496641,Red Lobster just denied me the right to relive...,sadness
15,21514120071225344,The Freedom Tower is a giant middle-finger sal...,joy
16,23510209976602624,"Pô bicho, se LCD não tem nada a ver com LSD en...",sadness
17,24688312560132096,#dontactlike yu not nasty when yu had sex wit ...,sadness
18,30272074853384192,burning the pain ~ this self chosen ~ destruct...,love
19,35412977641324544,many of u are seeing #NEVERSAYNEVER3D for the ...,joy
20,45958535552573440,Tonight I play in Guatemala!! #tiestoontour #e...,joy
21,46258936252334080,Visited the Alder Hey Children's Hospital in L...,love
22,46926833949741056,Some people think that the physical things def...,sadness
23,48545572558340096,"Si no existieras, te inventaria :) @jesuskitol...",love
24,48942754704797696,Ladies it'll be hard to find true LOVE IF. = ...,love
25,49157551169880066,Se vieene el ultimo show israel!!! CON TODO!!!...,joy
26,50745493592096768,We are all one family. #love #patchadams #health,love
27,51626813784461313,"I want you to find the poor here, right in you...",love
28,51716578303152128,I Understand Bitch Nigga u can't get bitches t...,sadness
29,54239936202805248,why arent my tweets going thru?!?! awww. #frus...,anger
...,...,...,...
1339764,149896610254557184,Helped organize our church's Christmas food dr...,thankfulness
1339765,149896613010219008,Joy bought me a pair of XL sized sweat pants f...,joy
1339766,149896623118491648,Doctors office...then therapy...then shopping ...,love
1339767,149896630324297728,I searched out my gloves last night....but cou...,sadness
1339768,149896635068055553,@AustinMahone i'm envy with girl who followed ...,sadness
1339769,149896642408099843,@usatriathlon My last long run before my marat...,joy
1339770,149896643976773632,Gonna Miss The Match(s) !! #Shit #sad,sadness
1339771,149896668018520065,Does Rustenburg have 3G....? My modem is soooo...,anger
1339772,149896687811432448,"Mommy/Daughter Bake Day! Sugar cookies, choc c...",joy
1339773,149896702948671488,My best friends are hereeeee :) #happy #wolfpack,joy
1339774,149896721625907201,met @arsenalnepal family today! day 2 :) #happy,joy
1339775,149896729691557888,"What a successful shopping trip, was there hal...",joy
1339776,149896730274578432,I just found out that my grandfather was a vet...,joy
1339777,149896750159757314,Randolph gave me an A without taking a final!\...,love
1339778,149896762423914497,jeeej papa weer thuis (L) #love,love
1339779,149896762801393667,@MiaObrien_ sounds like a date ;) and wooo par...,joy
1339780,149896768295931904,3 more days until Christmas & NBA ! #excited,joy
1339781,149896770770575360,So the not so secret Santa is now tomorrow at ...,joy
1339782,149896780933373953,Hating my iPhone battery life right now its de...,anger
1339783,149896781621235712,When did Intermediate School get rid of chairs...,anger
1339784,149896797047894018,&lt;3 &lt;3 &lt;3 &lt;3 #happy,joy
1339785,149896797098221568,"I love being home great food, family and frien...",love
1339786,149896801628078081,#Np Donnis feat. Tony Williams - Outta Here .....,love
1339787,149896813971910656,i passed all my exams with a range from 70 to ...,joy
1339788,149896838210793474,Woke up to Christian Beadles Voice&lt;3 \n#Hap...,joy
1339789,149896840412798976,Luvs that I have my work schedule from now unt...,fear
1339790,149896859245232128,Twin will be here 2ma!! #excited,joy
1339791,149896863636660224,Had to wake up early and come to the dentist.....,joy
1339792,149896890077560832,@ThisIsNoise_ Oh hell yeah that'd be so awesom...,anger
1339793,149896892883546112,PORN! Now I have your attention I'm seeing @Al...,joy

In [21]:
conn.close()